body{
    background-image: url(back2.jpg)
}
a{
    text-decoration: none;
}

#container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

#bookmarks li{
    text-align: center;
    display: inline-table;
    background-color: whitesmoke;
    color: darkslateblue;
    margin: 10px;
}

#bookmarks li:hover{
    border-color:rgba(150,150,150,1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2)
}

.title{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

button{
    position: fixed;
    right: 50px;
    bottom: 50px;
}